.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
img {
  cursor: pointer;
  width: 150px;
  margin: 2px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  transition: .3s all;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}